*{
    padding: 0;
    margin: 0;
    list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
body{
    background-color: #1dd1a1;
}

.mueble{
    background-color: #3498db;
    box-sizing: border-box;
    width: 540px;
    height: 400px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.marco{
    background-color: #2980b9;
    width: 500px;
    height: 360px;
}

#izquierda, #derecha { 
    width: 100px;
    height: 250px;
    box-sizing: border-box;
    padding: 10px;
}
#contenido { 
    width: 300px;
    height: 250px;
    left: 120px;
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
}
#izquierda { 
 float: left; 
} 
#derecha { 
 float: right; 
}

.btn-numeros{
    width: 100%;
    display: block;
    padding: 10px 0;
    margin-bottom: 9px;
    font-weight: 900;
    cursor: pointer;
}

#pantalla{
    width: 100%;
    height: 100%;
    position: relative;
    border: solid 5px #34495e;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #7bed9f;
    color: #ffffff;
    font-size: 6em;
}

.footer{
    height: 100px;
    width: 500px;
    position: absolute;
    bottom: 20px;
    padding: 15px 10px;
    box-sizing: border-box;
}

.btn{
    font-size: 2em;
    text-align: center;
    font-weight: 900;
    padding: 10px 25px;
    position: absolute;
    cursor: pointer;
}
.btn-aceptar{
    background-color: #2ecc71;
    color: #27ae60;
    right: 10px;
}
.btn-cancelar{
    background-color: #e74c3c;
    color: #c0392b;
    right: 100px;
}

.ranura{
    background-color: #ecf0f1;
    padding: 28px 10px;
    position: absolute;
    width: 290px;
    box-sizing: border-box;
}

.ranura-interior{
    width: 270px;
    height: 10px;
    background-color: #7f8c8d;
    position: relative;
}

.dinero{
    width: 270px;
    height: 0px;
    background-color: #4cd137;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centro{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #7bed9f;
    display: none;
}

#resultado{
    color: #ffffff;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}